<footer class="pt-5 main">
    <div class="container">
        <div class="row ">
            <div class=" text-center">
                <h5 class="text-uppercase mb-3 text-center">Crafter's Corner</h5>
                <p >We are committed to providing high-quality workspace management solutions to help
                    you streamline your creative projects.</p>
                <p >For any inquiries, please contact us at +1-555-123-4567.</p>
            </div>
        </div>
        <div class="row">
            <div class=" text-center mt-5">
                <p class="copyright">© 2024 Crafters Corner. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>