<div class="container-fluid mt-4 px-0" style="background-color: lightpink;">
    <div class="row mx-0">
        <div class="col-md-5 py-5 px-sm-3 d-flex justify-content-center align-items-center">
            <img src="../../assets/introduction.jpg" class="img-fluid" alt="Introduction Image">
        </div>

        <div class="col-md-7 d-flex align-items-center px-0 py-0">
            <div class="p-4">
                <h2 class="mb-4 text-center">Welcome to Crafters Corner</h2>
                <p class="lead">At Crafters Corner, we understand the importance of a well-organized workspace for
                    unleashing creativity and productivity. Our platform is designed to help you manage your workspace
                    with ease, whether you're a professional crafter, or a small business owner.</p>
                <p class="lead">Our intuitive workspace management system allows you to keep track of your tools,
                    materials, and projects, so you can focus on what you do best - creating. Crafters Corner is the
                    perfect tool for anyone looking to streamline their workspace and boost productivity.</p>
                <p class="lead">Join the Crafters Corner community today and discover the benefits of a well-managed
                    workspace. Sign up now to take the first step towards a more organized and productive workspace.</p>
            </div>
        </div>
    </div>
</div>