<div class="main">
    <div class="container">
        <div class="title">Our Services</div>
        <div class="service-container">
            <div class="services">
                <div *ngFor="let category of categories" class="loop">
                    <div class="image"><img
                        [src]="'assets/' + category.image + '.jpg'"
                        alt="{{ category.categoryName }}"
                      /></div>
                    <div class="service-name">{{ category.categoryName | titlecase }}</div>
                </div>
            </div>
        </div>
    </div>
</div>