.main{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    font-weight: 500;
}

.container{
    width: fit-content;
    padding: 30px;
}

.title{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
}

.services{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

img{
    width: 250px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgb(88, 88, 88);
}

.service-name{
    text-align: center;
    font-size: 18px;
    padding-bottom: 5px;
}

.loop{
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgb(88, 88, 88);
    background-color: rgb(249, 249, 249);
    box-shadow: -1px 6px 34px 0px rgba(0,0,0,0.45);
}

.image{
    
}