<div class="main">
    <div class="container">
        <div class="title">Our Services</div>
        <div class="service-container">
            <div class="services">
                <div *ngFor="let service of services" class="loop">
                    <div class="image"><img
                        [src]="'assets/' + service + '.jpg'"
                        alt="{{ service }}"
                      /></div>
                    <div class="service-name">{{service | titlecase }}</div>
                </div>
            </div>
        </div>
    </div>
</div>