<div class="container-fluid services-section mt-5">
    <div class="row justify-content-center">
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card h-100">
                <img src="../../assets/storage.jpg" class="card-img-top" alt="Storage">
                <div class="card-body text-center">
                    <h5 class="card-title">Storage</h5>
                    <p class="card-text">Secure and organized storage solutions for your tools and materials.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card h-100">
                <img src="../../assets/coaching_class.jpg" class="card-img-top" alt="Coaching Centre">
                <div class="card-body text-center">
                    <h5 class="card-title">Coaching Centre</h5>
                    <p class="card-text">Professional coaching and guidance to enhance your skills and creativity.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card h-100">
                <img src="../../assets/studio.jpg" class="card-img-top" alt="Studio or Shooting">
                <div class="card-body text-center">
                    <h5 class="card-title">Studio or Shooting</h5>
                    <p class="card-text">Fully equipped studio for photography or shooting your creative projects.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card h-100">
                <img src="../../assets/stiching.jpg" class="card-img-top" alt="Knitting Centre">
                <div class="card-body text-center">
                    <h5 class="card-title">Knitting Centre</h5>
                    <p class="card-text">Dedicated space and resources for knitting enthusiasts to create masterpieces.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>