<h1>{{total}} Services</h1>
<div *ngIf="categories.length > 0; else noData">
    <div *ngFor="let category of categories">
      <h2>{{ category.categoryName }}</h2>
      <p>{{ category.description }}</p>
      <p>Rating: {{ category.rating }} - {{ category.ratingWord }}</p>
      <p>Highlights: {{ category.highlights }}</p>
      <img width="200px" [src]="'assets/' + category.image + '.jpg'" alt="{{ category.categoryName }}">
    </div>
  </div>
  <ng-template #noData>
    <p>No categories available.</p>
  </ng-template>
  