<div class="main">
  <div class="filters">
    <div class="filter-column">
      <div class="filter-title">
        <div>Filters</div>
        <div><i class="bi bi-funnel"></i></div>
      </div>
      <div class="filter-functionality">
        <div class="rating-filter">
          <div class="rating-filter-title">RATING</div>
          <div class="rating-filter-option">
            <div class="options">
              <div class="option">
                <input type="checkbox" name="" id="" />
                <span>5 ⭐</span>
              </div>
              <div class="option">
                <input type="checkbox" name="" id="" />
                <span>4 ⭐ & above</span>
              </div>
              <div class="option">
                <input type="checkbox" name="" id="" />
                <span>3 ⭐ & above</span>
              </div>
              <div class="option">
                <input type="checkbox" name="" id="" />
                <span>Others</span>
              </div>
            </div>
          </div>
        </div>
        <div class="rating-filter">
          <div class="rating-filter-title">ASSETS</div>
          <div class="rating-filter-option">
            <div class="options">
              <div class="option">
                <input type="checkbox" name="" id="" />
                <span>Asset 1</span>
              </div>
              <div class="option">
                <input type="checkbox" name="" id="" />
                <span>Asset 2</span>
              </div>
              <div class="option">
                <input type="checkbox" name="" id="" />
                <span>Asset 3</span>
              </div>
              <div class="option">
                <input type="checkbox" name="" id="" />
                <span>Asset 4</span>
              </div>
            </div>
          </div>
        </div>
        <div class="clear-button">
          <button>Clear All Filters</button>
        </div>
      </div>
    </div>
  </div>
  <div class="services border">
    <h2>
      Our Services <span>({{ filteredCategories.length }})</span>
    </h2>
    <div *ngIf="filteredCategories.length > 0; else noData">
      <div *ngFor="let category of filteredCategories" class="loop">
        <div
          class="service-card"
          (click)="SelectedService(category.categoryName)"
        >
          <div class="card-container">
            <div class="image">
              <img
                width="300px"
                [src]="'assets/' + category.image + '.jpg'"
                alt="{{ category.categoryName }}"
              />
            </div>
            <div class="container">
              <div class="details">
                <div class="title">{{ category.categoryName }}</div>
                <div class="description">{{ category.description }}</div>
                <div class="highlights">
                  <div
                    *ngFor="let highlight of category.highlightsArray"
                    class="highlight"
                  >
                    <span><i class="bi bi-layers"></i></span>
                    {{ highlight }}
                  </div>
                  <span>+ more</span>
                </div>
                <div class="ratingWord">{{ category.ratingWord }}</div>
                <div class="rating"><span>⭐ </span>{{ category.rating }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noData>
      <p>No categories available.</p>
    </ng-template>
  </div>
</div>
