<div class="main">
  <div class="filters"><h1>Filters</h1>
  </div>
  <div class="services border">
    <h2>Our Services <span>({{ filteredCategories.length }})</span></h2>
    <div *ngIf="filteredCategories.length > 0; else noData">
      <div *ngFor="let category of filteredCategories" class="loop">
        <div class="service-card" (click)="SelectedService(category.categoryName)">
          <div class="card-container">
            <div class="image">
              <img
                width="300px"
                [src]="'assets/' + category.image + '.jpg'"
                alt="{{ category.categoryName }}"
              />
            </div>
            <div class="container">
              <div class="details">
                <div class="title">{{ category.categoryName }}</div>
                <div class="description">{{ category.description }}</div>
                <div class="highlights">
                  <div
                    *ngFor="let highlight of category.highlightsArray"
                    class="highlight"
                  >
                    <span><i class="bi bi-layers"></i></span>
                    {{ highlight }}
                  </div>
                  <span>+ more</span>
                </div>
                <div class="ratingWord">{{ category.ratingWord }}</div>
                <div class="rating"><span>⭐ </span>{{ category.rating }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noData>
      <p>No categories available.</p>
    </ng-template>
  </div>
</div>
