* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: 1.6;
}

h2 span {
  font-size: 22px;
  font-weight: normal;
}

h2 {
  font-weight: 800;
}

.main {
  display: flex;
  gap: 20px;
}

.filters {
  width: 25vw;
  height: 90vh;
  padding: 20px;
  background-color: #f9f9f9;
  position: fixed;
  overflow-y: auto;
}

.services {
  flex-grow: 1;
  padding: 20px;
  padding-top: 30px;
  background-color: #fff;
  margin-left: 25vw;
}

h1 {
  margin-bottom: 20px;
}

.service-card {
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.service-card:hover {
  background-color: rgb(243, 243, 243);
  transition: .2s linear;
  cursor: pointer;
}

.card-container {
  display: flex;
  padding: 10px;
}

.image {
  margin: 10px;
  margin-right: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.highlights {
  display: flex;
  gap: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
}

.details > div {
  margin-bottom: 10px;
}

.details > div:last-child {
  margin-bottom: 0;
}

.title {
  font-size: 30px;
  font-weight: 800;
}

.description {
  font-size: 20px;
}

.rating {
  font-size: 15px;
  background-color: #675dff;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  width: fit-content;
  padding: 2px 4px;
  padding-right: 6px;
  border-radius: 4px;
}

.ratingWord {
  font-size: 20px;
}

.loop {
  border-bottom: 1px solid gainsboro;
}

.filter-column {
  padding: 5px 20px;
  background-color: white;
  height: 100%;
}

.filter-title {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  border-bottom: 1px solid gainsboro;
  padding: 10px 0 20px 0;
  font-weight: bolder;
}

.rating-filter {
  padding: 20px;
  border-bottom: 1px solid gainsboro;
}

.rating-filter-title {
  font-size: 25px;
}

.rating-filter-option {
  padding: 10px 20px;
}

.option {
  display: flex;
  gap: 5px;
  font-weight: normal;
  padding: 3px 0;
}

.clear-button {
  width: 100%;
  padding: 20px;
}

.clear-button button {
  width: 100%;
  border: none;
  background-color: #675dff;
  color: white;
  padding: 5px;
}

.clear-button button:hover {
  background-color: #5748d1;
  transition: .2s linear;
}

.service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.service-title h2 {
  font-size: 24px;
  color: #333;
}

.sort-option select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}