* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    line-height: 1.6;
  }
  
  h2 span{
    font-size: 22px;
    font-weight: normal;
  }

  h2{
    font-weight: 800;
  }

  .main {
    padding-top: 75px;
    display: flex;
    gap: 20px;
  }
  
  .filters {
    width: 25vw;
    height: 90vh;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .services {
    flex-grow: 1;
    padding: 20px;
    padding-top: 30px;
    background-color: #fff;
  }

  .services h2P
  
  
  h1 {
    margin-bottom: 20px;
  }
  
  .service-card {
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    padding: 10px;
  }
  
  .image {
    margin: 10px;
    margin-right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .container {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .highlights{
    display: flex;
    gap: 20px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
  }
  
  .details > div {
    margin-bottom: 10px;
  }
  
  .details > div:last-child {
    margin-bottom: 0;
  }
  
  .title{
    font-size: 30px;
    font-weight: 800;
  }

  .description{
    font-size: 20px;
  }

  .rating{
    font-size: 15px;
    background-color: #590e0c;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    width: fit-content;
    padding: 2px 4px;
    padding-right: 6px;
    border-radius: 4px;
  }

  .ratingWord{
    font-size: 20px;
  }