<div class="main">
    <div class="container">
        <div class="image">
            <img src="../../../assets/vector.png" width="100%" alt="">
        </div>
        <div class="highlight">
            <div class="tagline">
                <div class="line1">Where</div>
                <div class="line2">Creativity</div>
                <div class="line1">Meets</div>
                <div class="line2">Community</div>
                <div class="paragraph">Fostering Innovation through shared passion and collaboration.</div>
            </div>
        </div>
    </div>
</div>