* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.design {
  width: 40%;
  background-color: #675dff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration {
  max-width: 80%;
  height: auto;
}

.form-container {
  width: 60%;
  height: 100%;
  background-color: #F5ECE0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-inside {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.input-row {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.inside-container {
  color: #211C84;
  font-weight: bolder;
}

.input-box {
  width: 100%;
}

.input-box label {
  color: #333;
}

.border2 {
  border: 2px solid green;
}

.input-container {
  width: 100%;
}

.input-box {
  padding: 10px;
  background-color: white;
  margin-top: 8px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  background-color: #590e0c;
  color: white;
  font-weight: 500;
  border: none;
}

.amount {
  font-weight: bold;
  color: #590e0c;
}

h1 {
  margin-bottom: 20px;
}

.ng-select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: white;
}

.ng-select .ng-select-container {
  border: none;
  background-color: white;
}

.ng-select .ng-select-container .ng-value-container {
  padding: 8px;
}

.ng-select .ng-select-container .ng-input {
  padding: 8px;
}

.ng-select .ng-dropdown-panel {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  z-index: 1000; /* Ensure dropdown is above other elements */
}

.ng-select .ng-dropdown-panel .ng-option {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ng-select .ng-dropdown-panel .ng-option:hover {
  background-color: #f1f1f1;
}

.ng-select .ng-dropdown-panel .ng-option.selected {
  background-color: #e2e2e2;
}

.ng-select .ng-dropdown-panel .ng-option .ng-option-mark {
  margin-right: 8px;
}

.ng-select--multiple .ng-select__choices {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.ng-select--multiple .ng-select__choices .ng-select__choice {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  background-color: #eee;
}

.ng-select--multiple .ng-select__choices .ng-select__choice .ng-select__choice__label {
}

.ng-select--multiple .ng-select__choices .ng-select__choice .ng-select__choice__remove {
  color: #ccc;
  margin-left: 5px;
  cursor: pointer;
}

.input-container .ng-select {
  margin-top: 8px;
}

.ng-select .ng-select-container .ng-value-container .ng-value {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ng-select .ng-select-container .ng-value-container .ng-value .ng-value-label {
  margin-right: 5px;
}

.ng-select .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  margin-left: 5px;
}